<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Make Appointment Health Care</title>
    <link rel="stylesheet" href="/css/makeAppointment.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">

        <div class="title"> 
        Add Doctor
        </div>

    <div class="content">
      <form action="/makeAppointment" method="post">
        <div class="user-details">

          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter Name" required>
          </div>
          <div class="input-box">
            <span class="details">Phone</span>
            <input type="text" placeholder="Enter Phone" required>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="Enter Address" required>
          </div>
          <div class="input-box">
            <span class="details">Specialization</span>
            <input type="text" placeholder="Enter Specialization" required>
          </div>
          <div class="input-box">
            <span class="details">Salary</span>
            <input type="number" placeholder="Enter Salary" required>
          </div>
          <div class="input-box">
            <span class="details">DOB</span>
            <input type="date" required>
          </div>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <span class="gender-title">Gender</span>
            <div class="category">
              <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            </div>
          </div>
          
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>

</body>
</html>